<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Portfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for ('static' ,filename = 'css/base.css' ) }}">
    <link rel="stylesheet" href="{{ url_for ('static' ,filename = 'css/vendor.css' ) }}">
    <link rel="stylesheet" href="{{ url_for ('static' ,filename = 'css/main.css' ) }}">

    <!-- script
    ================================================== -->
    <script src="{{ url_for ('static' ,filename = 'js/modernizr.js' ) }}"></script>
    <script src="{{ url_for ('static' ,filename = 'js/pace.min.js' ) }}"></script>

    <!-- favicons -->
    <!-- ================================================== -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon">  -->


    

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <!-- <a class="site-logo" href="index.html"><img src="images/logo.png" alt="Homepage"></a> -->
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                <!-- <li><a class="smoothscroll"  href="#blog" title="blog">Blog</a></li> -->
                <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="../static/images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

               





                
                <h1>I'm
                    <span
                       class="txt-rotate"
                       data-period="2000"
                       data-rotate='[ "Aman Sharma" ,"Data Scientist.", "Developer.", "Machine Learning Engineer"  ]'></span>
                  </h1>
                   
                






                <div class="home-content__buttons">
                    <a href="#works" class="smoothscroll btn btn--stroke">
                        Latest Projects
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Me
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="https://www.linkedin.com/in/aman-sharma-01b185190"><i class="im im-linkedin" aria-hidden="true"></i><span>Linkedin</span></a>
            </li>
            <li>
                <a href="https://github.com/mrperfectpandit"><i class="im im-github" aria-hidden="true"></i><span>Github</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com/aman___sharma_____/"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="https://www.facebook.com/aman.sharmatds/"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <!-- <li>
                <a href="#"><i class="im im-pinterest" aria-hidden="true"></i><span>Pinterest</span></a>
            </li> -->
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->

    <section id="about" class="s-about target-section">

        <div class="row narrow section-intro has-bottom-sep">

            <!-- col-full text-right -->
            <div class="col-full text-right">
                <h3>About</h3>
                <h1>More About Me</h1>
                <p class="lead">My name is Aman Sharma , B.tech (Computer science Engineering) student at Aligarh college of engineering and technology, belongs to Aligarh ,UP
                    Completed 12th and 10th from Three Dots Sewamarg Public School.</p>
            </div>
                


            
        
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>hie</h3>

                <p>Persuing graduate equipped with a Bachelor of Technology in Computer Science Engineering with concentration in Data Science eager to join a reputable organization to begin a fulfilling, life long career. Extensive Knowledge of Data Exploratory , analysis the data , feature engineering , good predicting modelling. Additional Knowledge of how to choose better hyperparameters for constructing a good Deep Learning Models.</p>

                <p>
                    I’m good in my field but I wouldn’t be where I am without those who've helped me along the way. That’s why I love connecting with like-minded people and using my passion and skills to make a difference. 


                    Travelling is one of the my hobbies .Travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>I've Got Some skills.</h3>

                <ul class="skill-bars">
                    <li>
                    <div class="progress percent60"><span>60%</span></div>
                    <strong>C/C++</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Python</strong>
                    </li>
                    <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Data Science</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Machine Learning</strong>
                    </li>
                    <li>
                    <div class="progress percent60"><span>60%</span></div>
                    <strong>Data Analysis(SQL,PowerBI,Excel) </strong>
                    </li>   
                    <li>
                    <div class="progress percent60"><span>60%</span></div>
                    <strong>Flask/django,Bootsrap</strong>
                    </li>   
                </ul>
            </div>

        </div> <!-- end about-content -->

        <div class="row about-content about-content--buttons">

            <div class="col-six tab-full left">
                <a href="https://drive.google.com/file/d/1cvh9x_ujmhVcmI3bN4xpqI-OxHMYiBFy/view?usp=sharing" class="btn btn--primary full-width">Download My CV</a>
            </div>
            <div class="col-six tab-full right">
                <a href="#0" class="btn full-width">Hire Me Now</a>
            </div>

        </div> <!-- end about-content buttons -->

        <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>Education and Training Experince.</h3>
            </div>

            <div class="col-six tab-full left">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">Dec 2020 - Present</p>
                            <h3>Resolute AI</h3>
                            <h5>Machine Learning Intern</h5>
                        </div>
                        <div class="timeline__desc">
                            <p></p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">Aug 2020- Sept 2020</p>
                            <h3>Internshala</h3>
                            <h5>Data Science Training</h5>
                        </div>
                        <div class="timeline__desc">	
                            <p> Practical knowledge of Descriptive and Inferential statistics, analysis and transforming of data
                                (Exploratory Data Analysis) , and also build a predictive model.
                                • Work on Classification problem- whether the patient is diabetes or not , use ensemble approach to solve
                                this problem , use Flask API and Heroku to deploy this model. and Regression problem – predict air
                                Quality index , do some analysis and feature engineering to prepare the data and apply different
                                machine learning algorithms to predict the best air quality.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                </div> <!-- end timeline -->
            </div> <!-- end left -->

            <div class="col-six tab-full right">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">June 2019 - July 2019</p>
                            <h3>Duacit Organization</h3>
                            <h5>Machine Learning Training</h5>
                        </div>
                        <div class="timeline__desc">
                            <p> Ducait give me a wider range and various aspects of Machine Learning and Deep Learning with
                                practical and theoretical knowledge.
                                • Worked on different algorithms and there hyperparameter techniques which is used to make model more
                                optimize and efficient.
                                • Work on Face recognition Project using Inception Architecture to build the architecture of model and use
                                Triplet Loss function to find the similarity between the faces..</p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">July 2017 - June 2021</p>
                            <h3>Aligarh College of Engineering and Texhnology</h3>
                            <h5>B.tech (computer Science)</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                </div> <!-- end timeline -->
            </div> <!-- end right -->

        </div> <!-- end about-content timeline -->

    </section> <!-- end about -->
    

    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>See My Latest Projects.</h1>
                
                <p class="lead">If a Robot can succeed without a Certificate. So can you. 
                    Its all about programing Reprogram your mindset .</p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/health.jpg') }}" class="thumb-link" title="Health-Care" data-size="1050x700">
                                
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/health.jpg' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/health.jpg' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/health@2x.jpg') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="/uderConstruction">Health-care</a>
                            </h3>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>

                        <a href="/uderConstruction" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>This app help you to detect different types of diseases.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">
                    
                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/face.jpg') }}"  class="thumb-link" title="Face Recognition" data-size="1050x700">
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/face.jpg' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/face.jpg' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/face@2x.jpg') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="https://github.com/mrperfectpandit/Face-recognition-using-Inception-architecutre.git"> Face-Recognition </a>
                            </h3>
                            <p class="item-folio__cat">
                                Deep Learning
                            </p>
                        </div>

                        <a href="https://github.com/mrperfectpandit/Face-recognition-using-Inception-architecutre.git" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Using Inception architecture to build face recognition system.

                                using triplet loss function to find the similarity between  faces.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/house.jpg') }}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/house.jpg' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/house.jpg' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/house@2x.jpg') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="https://github.com/mrperfectpandit/House-prediction.git">  House-Prediction</a>
                            </h3>
                            <p class="item-folio__cat">
                                Machine Learning
                            </p>
                        </div>

                        <a href="https://github.com/mrperfectpandit/House-prediction.git" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Pipelines of various stages of data scientists--Exploratory Data Analysis(EDA) , Feature engg. Feature  selection , model building.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->


                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/air.jfif') }}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/air.jfif' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/air.jfif' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/air@2x.jfif') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="https://github.com/mrperfectpandit/air-quality-index.git">Air-Quality Index</a>
                            </h3>
                            <p class="item-folio__cat">
                                Machine Leaning
                            </p>
                        </div>

                        <a href="https://github.com/mrperfectpandit/air-quality-index.git" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>"Good" AQI is 0 to 50. Air quality is considered satisfactory, and air pollution poses little or no risk. "Moderate" AQI is 51 to 100. Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people..

                                Using different regression algorithms , find the Quality of air index..</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->



                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/art.jpg') }}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/art.jpg' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/art.jpg' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/art@2x.jpg') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="https://github.com/mrperfectpandit/Art-Generation-with-Neural-transfer-.git">Art-Generation</a>
                            </h3>
                            <p class="item-folio__cat">
                                Deep Learning
                            </p>
                        </div>

                        <a href="https://github.com/mrperfectpandit/Art-Generation-with-Neural-transfer-.git" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>using content and style cost function
                                using imagenet-vgg-verydeep-19.mat (Pretrained-model)</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/text.jpg') }}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/text.jpg' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/text.jpg' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/text@2x.jpg') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="https://github.com/mrperfectpandit/django-textutils.git"> Text-utils</a>
                            </h3>
                            <p class="item-folio__cat">
                                Django
                            </p>
                        </div>

                        <a href="https://github.com/mrperfectpandit/django-textutils.git" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p> It will use to analyse the text i.e.Remove Punctuation marks , new line remover , count the
                                words, space remover etc also use Bootstrap for making frontend.
                                </p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/spam.jfif') }}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/spam.jfif' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/spam.jfif' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/spam@2x.jfif') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="https://github.com/mrperfectpandit/spam-classification-using-NLP.git" >  Spam Classification.</a>
                            </h3>
                            <p class="item-folio__cat">
                                Naive Bayes & NLP
                            </p>
                        </div>

                        <a href="https://github.com/mrperfectpandit/spam-classification-using-NLP.git" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>classification algorithm to classify weather the mail is spam or ham , also use NLP for text preprocess and Naive Bayes algorithm for training</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{{ url_for ('static' ,filename = 'images/portfolio/gallery/twitter.jpg') }}" class="thumb-link" title="Info" data-size="1050x700">
                                <img src="{{ url_for ('static' ,filename = 'images/portfolio/twitter.jpg' ) }}" 
                                     srcset=" {{ url_for ('static' ,filename = 'images/portfolio/twitter.jpg' ) }} 1x, {{ url_for ('static' ,filename = 'images/portfolio/twitter@2x.jpg') }} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <a href="/uderConstruction"> Twitter Sentiment Analysis</a>
                            </h3>
                            <p class="item-folio__cat">
                                Twitter API
                            </p>
                        </div>

                        <a href="/uderConstruction" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->



    <!-- testimonials
    ================================================== -->
    <div class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">What People Say.</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <img src="{{ url_for ('static' ,filename = 'images/avatars/andrew.jpg' ) }}" alt="Author image" class="testimonials__avatar">
                    <p>We're making this analogy that AI is the new electricity. Electricity transformed industries: agriculture, transportation, communication, manufacturing.
                        Read more at https://www.brainyquote.com/authors/andrew-ng-quotes.</p>
                    <div class="testimonials__author h06">
                        Andrew NG
                        <span>CEO, Coursera </span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="{{ url_for ('static' ,filename = 'images/avatars/elon.jpg' ) }}" alt="Author image" class="testimonials__avatar">
                    <p>When something is important enough , you do it even if the odds are not in your favour..</p>
                    <div class="testimonials__author h06">
                        Elon Mask
                        <span>CEO, SpaceX</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="{{ url_for ('static' ,filename = 'images/avatars/sunder.jpg' ) }}" alt="Author image" class="testimonials__avatar">
                    <p>I do thinks it's important to follow your dreams and do something which you are excited by. If you follow your heart and do what you like , tou will always do much better. It doesn't matter what your education qualification is.</p>
                    <div class="testimonials__author h06">
                        Sunder Pichai
                        <span>CEO, Google</span>
                    </div>
                </div>
                
            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div> <!-- end s-testimonials -->


   

  

    <!-- s-stats
    ================================================== -->
    <!-- <section id="stats" class="s-stats">
        <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

            <div class="col-block stats__col ">
                <div class="stats__count">
                    128
                </div>
                <h4>Awards Received</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    1500
                </div>
                <h4>Cups of Coffee</h4>
            </div>
            <div class="col-block stats__col stats__col--highlight">
                <div class="stats__upsign">
                    <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
                <div class="stats__count">
                    110
                </div>
                <h4>Projects Completed</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    101
                </div>
                <h4>Happy Clients</h4> 
            </div>

        </div>
    </section> end s-stats -->


    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>Say Hello.</h1>
                
                <p class="lead">Data Scientist with a passion for delievering valuable data through analytical function and data retrieval methods.</p>
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>
                        
            </div>
            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Phone</h4>
                <p>Phone: (+91) 7017409966<br>
                
                
                </p>

                <h4 class="h06">Email</h4>
                <p>aman.sharmatds1999@gmail.com                
                </p>

                <h4 class="h06">Address</h4>
                <p>
                House no 1/252 , Street no 9<br>
                Naurangabad jwalapuri , Aligarh<br>
                Uttar Pradesh
                </p>
            </div>

        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <!-- <a class="footer-site-logo" href="#0"><img src="images/logo.png" alt="Homepage"></a> -->
                </div>

                <ul class="footer-social">
                    <li><a href="https://www.linkedin.com/in/aman-sharma-01b185190">
                        <i class="im im-linkedin" aria-hidden="true"></i>
                        <span>Linkedin</span>
                    </a></li>
                    <li><a href="https://instragram.com/aman___sharma_____/">
                        <i class="im im-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a></li>
                    <li><a href="https://github.com/mrperfectpandit">
                        <i class="im im-github" aria-hidden="true"></i>
                        <span>Github</span>
                    </a></li>
                    <li><a href="https://facebook.com/aman.sharmatds/">
                        <i class="im im-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a></li>
                    <!-- <li><a href="#0">
                        <i class="im im-pinterest" aria-hidden="true"></i>
                        <span>Pinterest</span>
                    </a></li> -->
                </ul>
                    
            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <!-- <span>© Copyright Hola 2017</span>  -->
                    <span><a href="https://www.linkedin.com/in/aman-sharma-01b185190">Aman Shrma</a></span>	
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->

<!-- typing effect -->
    <script>
        var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
  document.body.appendChild(css);
};
</script>
<!-- typing effect -->



    <script src="{{ url_for ('static' , filename = 'js/jquery-3.2.1.min.js' ) }}"></script>
    <script src="{{ url_for ('static' , filename = 'js/plugins.js' ) }}"></script>
    <script src="{{ url_for ('static' , filename = 'js/main.js' ) }}"></script>

</body>

</html>